.film
    width 100%
    display flex
    flex-direction column
    border-bottom 1px solid #333
    padding 20px 30px

    .film-info
        display grid
        grid-template-columns repeat(auto-fit, 220px)
        justify-content space-between
        grid-gap 30px
        align-items center

        .info
            display flex
            flex-direction column

            &:last-child
                align-items center

            b
                font-size 16px
                font-weight 700
                color #E5D200

            span
                font-size 14px
                margin-top 5px
                color #f0f0f0

            button
                border 1px solid #E5D200
                color #E5D200
                border-radius 5px
                padding 7px 14px
                font-size 14px
                transition .4s all ease
                width 100%

                &:hover
                    background #E5D200
                    color #141414

                + button
                    margin-top 5px

                &.-loading
                    font-size 0
                    border-radius 50%
                    border-top 1px solid transparent
                    animation spin 1s linear .4s infinite
                    pointer-events none
                    padding 14px 14px
                    width auto

                &.-disabled
                    border 1px solid #fafafa
                    pointer-events none
                    color #fafafa

    .dropdown
        overflow hidden
        height 0
        transition .4s height ease

        .block
            width 100%
            display flex
            flex-direction column
            align-items flex-start
            padding-top 15px
            position relative

            .close
                width 20px
                height 20px
                position absolute
                top 15px
                right 0

                &:before, &:after
                    content ''
                    position absolute
                    top 50%
                    left 50%
                    width 28px
                    height 1px
                    background #E5D200

                &:before
                    transform translate(-50%, -50%) rotate(45deg)
                &:after
                    transform translate(-50%, -50%) rotate(-45deg)

            b
                color #E5D200
                font-weight 700
                font-size 16px

                @media( max-width 339px )
                    font-size 13px

            ul
                margin-top 10px
                display grid
                grid-template-columns repeat(3, 120px)
                grid-gap 10px 20px

                @media( max-width 470px )
                    grid-template-columns repeat(2, 120px)

                li
                    font-size 14px
                    color #f0f0f0
                    display flex
                    align-items center

                    &:before
                        content ''
                        width 7px
                        height 7px
                        border-radius 50%
                        background #f0f0f0
                        margin-right 10px

@keyframes spin
    from
        transform rotate(0)
    to
        transform  rotate(360deg)
